.nav {
    display: flex;
    justify-content: center;
    gap: 50px;
   background-color: aquamarine;
}

.link {
    text-decoration: none;
    color: #212121;
    font-size: 24px;
}

.link:hover {
    text-decoration: underline;
    color: #7471d5;
    
}

.active {
    color: orangered;
    
}